@{
    ViewBag.Title = "Contact";
}
<div class="container">
<div class="row">
 <div class="col-md-12">

 <h2 class="page-header">@ViewBag.Title Information</h2>


<section class="contact">
    <dl>
        <dt>Phone</dt>
        <dd><b>Main</b>: 425.555.0100</dd>
        <dd><b>After Hours</b>: 425.555.0199</dd>
        <br />
        <dt>Email</dt>
        <dd><b>Support</b>:<a href="mailto:CSEmployerSupport@example.com">CSEmployerSupport@example.com</a></dd>
        <dd><b>Marketing:</b>:<a href="mailto:CSEmployerMarketing@example.com">CSEmployerMarketting@example.com</a></dd>
        <dd><b>General Inquiry:</b>:<a href="mailto:CSEmployerGuru@example.com">CSEmployerGuru@example.com</a></dd>
    </dl>

</section>


<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        256 Silicon Drive<br />
        Redmond, WA 98052-6399
    </p>
</section>

</div>
</div>
</div>