@{
    ViewBag.Title = "System Administrators";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <!-- <h2>@ViewBag.Message</h2> -->
</hgroup>

<section class="contact">
    <header>
        <h3>Rashad Murray</h3>
    </header>
    <p>
        <span class="label">Phone:</span>
        <span>123.456.7890</span>
        <br />
        <span class="label">Email:</span>
        <span><a href="mailto:rmurray@cs.csub.edu">rmurray@cs.csub.edu</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Robert Morning</h3>
    </header>
    <p>
        <span class="label">Phone:</span>
        <span>555.555.4321</span>
        <br />
        <span class="label">Email:</span>
        <span><a href="mailto:rmorning@cs.csub.edu">rmorning@cs.csub.edu</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h5>Address</h5>
    </header>
    <p>
        Science Building 3, 3rd Floor<br />
        Room 324<br />
        9001 Stockdale Hwy<br />
        Bakersfield, CA 93311-1022
    </p>
</section>
