@{
    ViewBag.Title = "Home Page";
}


<div class="btn-group btn-group-justified">
  <a class="btn btn-default" href="Employer/Index"><h3 class="heavy">Employers</h3></a>
  <a class="btn btn-success" href="Applicant/Search"><h3 class="heavy-white">Applicant Search</h3></a>
  <a class="btn btn-primary" href="Applicant/Create"><h3 class="heavy-white">Job Seekers</h3></a>
  <a class="btn btn-warning" href="Applicant/Index"><h3 class="heavy">Admins</h3></a>
</div>

