@{
    ViewBag.Title = "Home Page";
}


<div class="btn-group btn-group-justified">
  <a class="btn btn-success" href="http://localhost:10792/Applicant/SearchIndex"><h3 class="heavy-white">Employers</h3></a>
  <a class="btn btn-primary" href="http://localhost:10792/Applicant/Create"><h3 class="heavy-white">Job Seekers</h3></a>
  <a class="btn btn-warning" href="http://localhost:10792/Applicant/"><h3 class="heavy">Admins</h3></a>
</div>

