@{
    ViewBag.Title = "LogOn";
}

<h2>LogOn</h2>

@using (Html.BeginForm()) 
{
<form class="form-signin">
    <h2 class="form-signin-heading">Sign In</h2>
    
    @Html.TextBox("password")
    
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="LogOn"/>
</form>
}
